body{background-color: black;
     color: white;
     text-align: center;
    }
img{width: 250px;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: darkred;
   }
