body{background-color: black;
     color: white;
    }
img{display: block;
    margin: auto;
    width: 250px;
    border-radius: 15px;
    border: 3px solid cyan;
    box-shadow: 0px 0px 20px rgba(0,255,255,0.25);
   }
h1{text-align: center;
   color: cyan;
   font-size: 50px;
  }
h3{text-align: center;
   color: yellow;
   font-size: 30px;
  }
div{width: 425px;
    border-radius: 15px;
    background-color: rgb(20,20,20);
    border: 3px solid cyan;
    margin: auto;
    padding: 40px;
   }
ul, ol{text-align: left;
       width: 80%;
       margin: 0 auto;
      }
.dot{color: red;
     font-weight: bold;
     text-shadow: 0px 0px 8px red;
    }
.DND{color: white;
     font-weight: bold;
     font-size: 18px;
     text-shadow: 0px 0px 8px white;
    }
.status{color: lightgrey;
        font-weight: bold;
       }
img:hover{transition: o.3s;
          box-shadow: 0px 0px 20px darkblue;
          width: 270px;
         }
.badge{color: cyan;
       font-weight: bold;
       text-shadow: 0px 0px 8px cyan;
      }
li{color: cyan;
   font-weight: bold;
   transition: 0.3s;
  }
li:hover{background-color: cyan;
         color: black;
         font-size: 18px;
         text-shadow: 0px 0px 8px darkblue;
        }
.button{display: incline-block;
        padding: 10px 20px
        border: 2px solid cyan;
        transition: 0.3s;
        color: cyan;
        text-decoration: none;
        text-shadow: 0px 0px 8px cyan;
        border-radius: 10px;
       }
.button:hover{background-color: cyan;
              border: 2px solid cyan;
              color: black;
              font-size: 18px;
              text-shadow: 0px 0px 8px darkblue;
              text-size: 18px;
             }
        
