body{background-color: black;
     color: white;
    }
img{display: block;
    margin: auto;
    width: 250px;
    border-radius: 15px;
    border: 3px solid cyan;
    box-shadow: 0px 0px 20px rgba(0,255,255,0.25);
   }
h1{text-align: center;
   color: cyan;
   font-size: 50px;
  }
h3{text-align: center;
   color: yellow;
   font-size: 30px;
  }
div{width: 425px;
    hight: 300px;
    border-radius: 15px;
    background-color: rgb(20,20,20);
    border: 3px solid cyan;
    margin: auto;
    padding: 25px;
   }
ul, ol{text-align: left;
       width: 80%;
       margin: 0 auto;
      }
.dot{color: red;
     font-weight: bold;
    }
.DND{color: white;
     font-weight: bold;
    }
